.card-principal {
    background: var(--fundo-card);
    width: 61vw;
    margin: 1em 3em 0.5em 9.3vw;
    border-radius: 24px;
    position: relative;
}

.principal__inferior, 
.inferior__indicadores, 
.inferior__item {
    display: flex;
}

.imagem__capa {
    width: 61vw;
}

.imagem__perfil {
    position: absolute;
    top: 130px;
    left: 25px;
    width: 150px;
    border: 4px solid var(--fundo-card);
    border-radius: 100px;
}

.principal__inferior {
    padding: 5vw 2em 0.5em;
    line-height: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inferior__container h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.inferior__container p {
    font-size: 14px;
    color: var(--texto-cinza);
    font-weight: 400;
}

.paragrafo__juncao {
    display: inline-block;
}

.link__juncao {
    text-decoration: none;
    color: var(--texto-azul);
    font-size: 14px;
    font-weight: 700;
}

.indicadores__link {
    color: var(--texto-azul);
    padding-right: 0.1em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.link__juncao::before {
    content: "\00B7";
    margin: 0 0.5em;
    color: var(--texto-cinza);
}

.inferior__indicadores a:last-child::before {
    content: "\00B7";
    margin: 0 0.5em;
    color: var(--texto-cinza);
}

.instituicao__container {
    margin-right: 3vw;
}

.inferior__item {
    align-items: center;
}

.inferior__imagem {
    margin: 0.4em;
}

.principal__botoes {
    padding: 0 0 2em 2em;
}

.botoes__link {
    background: var(--texto-azul);
    padding: 0.3em 1.5em;
    border-radius: 24px;
    color: var(--fundo-card);
    text-decoration: none;
    margin-left: 0.3em;
}

.principal__botoes a:last-child {
    background: var(--fundo-card);
    color: var(--texto-azul);
    border: 1px solid var(--texto-azul);
    padding: 0.3em 3em;
}