@import url("/style/header.css");
@import url("/style/principal.css");

:root {
    --fundo: #000;
    --fundo-nav: #1B2226;
    --fundo-pequisar: #38434F;
    --texto-branco: #FFFFFF;
    --texto-cinza: #ffffffb4;
    --fundo-card: #1B2226;
    --texto-azul: #70B5F9;
    --fonte-principal: "Roboto";
}

body {
    background-color: var(--fundo);
    color: var(--texto-branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
}